.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 2000px;
  width: 220px;
  background-image: linear-gradient(rgb(4, 85, 225), rgb(109, 198, 254));

  &__logo {
    display: grid;
    place-items: center;
    height: 120px;
    font-size: 1.5rem;
    font-weight: 700;
    color: black;
    background-color: white;
  }

  &__menu {
    position: relative;
    margin-top: 40px;

    &__item {
      display: flex;
      align-items: center;
      place-content: flex-start;
      padding: 1rem 2rem;
      font-size: 1.25rem;
      font-weight: 500;
      color: white;
      transition: color 0.3s ease-in-out;

      &.active {
        color: white;
      }

      &__icon {
        margin-right: 1rem;

        i {
          font-size: 1.75rem;
        }
      }
    }

    &__indicator {
      position: absolute;
      top: 0;
      left: 50%;
      width: calc(100% - 40px);
      border-radius: 10px;
      background-color: black;
      z-index: -1;
      transform: translateX(-50%);
      transition: 0.3s ease-in-out;
    }
  }
}
